{% extends 'gw/message/base.html' %}

{% block type %}
    <MsgType><![CDATA[news]]></MsgType>
{% endblock %}

{% block body %}
    {% if maintain %}
        <ArticleCount>{{ count }}</ArticleCount>
        <Articles>
            {% for item in maintain %}
                <item>
                    <Title><![CDATA[{{ item.device.name }}]]></Title>
                    <Description><![CDATA[{{ item.description }}]]></Description>
                    <PicUrl>
                        <![CDATA[{{ '%s%s' % (config.get('SITE_URI'),  url_for('static', filename='upload/%s' % item.device.image_path )) }}]]>
                    </PicUrl>
                    <Url>
                        <![CDATA[{{ '%s%s' % (config.get('SITE_URI'),  url_for('dev_act.detail', code=item.device.random_code)) }}]]>
                    </Url>
                </item>
            {% endfor %}
        </Articles>
    {% endif %}
{% endblock %}