{% extends 'layout.html' %}

{% block content %}

    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">您的微信号还未授权，授权请联系我司,客户服务电话: xxx-xxxxxxxx</h2>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a href="javascript:wx.closeWindow();" class="weui_btn weui_btn_primary">返回</a>
            </p>
        </div>
    </div>

{% endblock %}